// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';
@import './mixins/button';
// components
@import './components/header';
@import './components/heropanel';
@import './components/features';
@import './components/how-it-works';


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.row {
  margin: 0;
}

.container {
  position: relative;
  z-index: 2;
}
